/* @import url(size/grid/size.css); */
@import url(size/size.css);
/* @import url(size/percent/grid.css); */
@import url(common.css);
@import url(navbar.css);
// @import url(card.css);
@import url(title.css);
@import url(list-group.css);
@import url(page.css);
@import url(margin.css);
@import url(slidershow.css);
@import url(/plugins/iconfont/iconfont.css);
// @import url(/plugins/bootstrap-3.3.7/css/bootstrap.min.css);

// body{
//     background: linear-gradient(to right, rgba(42, 22, 155, 1) 39%, rgba(41, 137, 216, 1) 78%, rgba(44, 212, 217, 1) 95%);
// }

.block-1,.block-2,.block-3,.block-4,.block-5{

    overflow: auto;

    *{
        color: #777c87;
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease; /* Firefox 4 */
        -webkit-transition: all 0.3s ease; /* Safari 和 Chrome */
        -o-transition: all 0.3s ease; /* Opera */
    }
    .title{
        width: 100%;
        text-align: center;
        padding-bottom: 50px;

        h1{
            font-size: 2.5rem;
            font-weight: 500;
            color: #080245;
        }
        span{
            display: block;
            height: 2px;
            width: 100px;
            background: linear-gradient(to right,rgb(42,22,155) 10%,rgb(41,137,216) 50%,rgb(44,212,217) 95%);
            margin: 20px auto;
        }
    }
}
.block-1{
    width: 100%;
    background: #f5f6fa;
    padding-top: 80px;
    padding-bottom: 80px;

    .card{
        width: 100%;
        height: 400px;
        background: #fff;
        border-radius: 5px;

        &:hover{
            // background: #2cd4d9;
            transform: translateY(-5px);
            box-shadow: 0 10px 20px 5px #e6e6e6;
        }
    }
}

.block-2{
    width: 100%;
    background: #fff;
    padding-top: 80px;
    padding-bottom: 80px;

    .card{
        width: 100%;
        height: 600px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 18px 33px 6px rgba(0,0,0,.1);

        &:hover{
            // background: #2cd4d9;
            transform: translateY(-5px);
            box-shadow: 0 18px 33px 6px rgba(0,0,0,.1);
        }
        
    }
}

.block-3{
    width: 100%;
    background: #f5f6fa;
    padding-top: 80px;
    padding-bottom: 80px;

    .card{
        width: 100%;
        height: 500px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 18px 33px 6px rgba(0,0,0,.1);

        &:hover{
            // background: #2cd4d9;
            transform: translateY(-5px);
            box-shadow: 0 18px 33px 6px rgba(0,0,0,.1);
        }
        
    }
}

.block-4{
    width: 100%;
    background: #fff;
    padding-top: 80px;
    padding-bottom: 80px;

    .card{
        width: 100%;
        height: 500px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 18px 33px 6px rgba(0,0,0,.1);

        &:hover{
            // background: #2cd4d9;
            transform: translateY(-5px);
            box-shadow: 0 18px 33px 6px rgba(0,0,0,.1);
        }
        
    }
}

.block-5{
    width: 100%;
    background: #f5f6fa;
    padding-top: 80px;
    padding-bottom: 80px;

    .card{
        width: 100%;
        height: 500px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 18px 33px 6px rgba(0,0,0,.1);

        &:hover{
            // background: #2cd4d9;
            transform: translateY(-5px);
            box-shadow: 0 18px 33px 6px rgba(0,0,0,.1);
        }
        
    }
}

.bg-blue{
    background: linear-gradient(135deg,#008ded 0%,#00e8d3 100%) !important;
}


footer{
    width: 100%;
    text-align: center;
    color: #777;
    font-size: 12px;
    padding: 50px 0;

    a{
        text-decoration: none;
        outline: none;
        color: #777;
    }
}