/* @import url(size/grid/size.css); */
@import url(size/size.css);
/* @import url(size/percent/grid.css); */
@import url(common.css);
@import url(navbar.css);
@import url(title.css);
@import url(list-group.css);
@import url(page.css);
@import url(margin.css);
@import url(slidershow.css);
@import url(/plugins/iconfont/iconfont.css);
.our-services,
.about-us,
.news,
.block-4,
.block-5 {
  overflow: auto;
}
.our-services *,
.about-us *,
.news *,
.block-4 *,
.block-5 * {
  color: #777c87;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  /* Firefox 4 */
  -webkit-transition: all 0.3s ease;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s ease;
  /* Opera */
}
.our-services .title,
.about-us .title,
.news .title,
.block-4 .title,
.block-5 .title {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}
.our-services .title h1,
.about-us .title h1,
.news .title h1,
.block-4 .title h1,
.block-5 .title h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #080245;
}
.our-services .title span,
.about-us .title span,
.news .title span,
.block-4 .title span,
.block-5 .title span {
  display: block;
  height: 2px;
  width: 100px;
  background: linear-gradient(to right, #2a169b 10%, #2989d8 50%, #2cd4d9 95%);
  margin: 20px auto;
}
.our-services {
  width: 100%;
  background: #f5f6fa;
  padding-top: 80px;
  padding-bottom: 80px;
}
.our-services .card {
  width: 100%;
  height: 400px;
  background: #fff;
  border-radius: 5px;
}
.our-services .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px 5px #e6e6e6;
}
.about-us {
  width: 100%;
  background: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}
.about-us img {
  width: 100%;
}
.about-us .card span {
  position: relative;
  font-size: 20px;
}
.about-us .card h1 {
  position: relative;
  font-weight: 700;
  font-family: montserrat, sans-serif;
  font-size: 30px;
  color: #8BC34A;
}
.about-us .card h1 strong {
  color: #8BC34A;
  font-size: 36px;
}
.about-us .card p {
  margin: 1rem 0;
  text-indent: 2rem;
}
.about-us .card a {
  background-color: #8BC34A;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  min-width: 170px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 2px;
  font-family: montserrat, sans-serif;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.about-us .card a:hover {
  background-color: #7cad43;
}
.news {
  width: 100%;
  background: #f5f6fa;
  padding-top: 80px;
  padding-bottom: 80px;
}
.news .card {
  width: 100%;
  height: 500px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 18px 33px 6px rgba(0, 0, 0, 0.1);
}
.news .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 18px 33px 6px rgba(0, 0, 0, 0.1);
}
.block-4 {
  width: 100%;
  background: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}
.block-4 .card {
  width: 100%;
  height: 500px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 18px 33px 6px rgba(0, 0, 0, 0.1);
}
.block-4 .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 18px 33px 6px rgba(0, 0, 0, 0.1);
}
.block-5 {
  width: 100%;
  background: #f5f6fa;
  padding-top: 80px;
  padding-bottom: 80px;
}
.block-5 .card {
  width: 100%;
  height: 500px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 18px 33px 6px rgba(0, 0, 0, 0.1);
}
.block-5 .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 18px 33px 6px rgba(0, 0, 0, 0.1);
}
.bg-blue {
  background: linear-gradient(135deg, #008ded 0%, #00e8d3 100%) !important;
}
footer {
  width: 100%;
  text-align: center;
  color: #777;
  font-size: 12px;
  padding: 50px 0;
}
footer a {
  text-decoration: none;
  outline: none;
  color: #777;
}
