/* @import url(size/grid/size.css); */
@import url(size/size.css);
/* @import url(size/percent/grid.css); */
@import url(common.css);
@import url(navbar.css);
@import url(title.css);
@import url(list-group.css);
@import url(page.css);
@import url(margin.css);
@import url(slidershow.css);
@import url(/plugins/iconfont/iconfont.css);
@import url(/plugins/iconfont-1/iconfont.css);
.our-services,
.about-us,
.news,
.contact-us,
.block-5 {
  overflow: auto;
}
.our-services *,
.about-us *,
.news *,
.contact-us *,
.block-5 * {
  color: #777c87;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  /* Firefox 4 */
  -webkit-transition: all 0.3s ease;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s ease;
  /* Opera */
}
.our-services .title,
.about-us .title,
.news .title,
.contact-us .title,
.block-5 .title {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}
.our-services .title h1,
.about-us .title h1,
.news .title h1,
.contact-us .title h1,
.block-5 .title h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: #080245;
}
.our-services .title span,
.about-us .title span,
.news .title span,
.contact-us .title span,
.block-5 .title span {
  display: block;
  height: 2px;
  width: 100px;
  background: linear-gradient(to right, #2a169b 10%, #2989d8 50%, #2cd4d9 95%);
  margin: 20px auto;
}
.our-services {
  width: 100%;
  background: #f5f6fa;
  padding-top: 80px;
  padding-bottom: 80px;
}
.our-services .card {
  width: 100%;
  height: 350px;
  background: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
}
.our-services .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px 5px #e6e6e6;
}
.our-services .card .icon {
  text-align: center;
  width: 100%;
  padding: 2rem 0;
}
.our-services .card .icon .iconfont {
  color: #8bc34a;
  font-size: 70px;
}
.our-services .card h3 {
  font-weight: bold;
}
.our-services .card p {
  margin: 1rem 0;
  font-size: 12px;
  overflow: hidden;
  /*超出部分隐藏*/
  text-overflow: ellipsis;
  /*文字超出部分以省略号显示*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.our-services .card a {
  font-size: 14px;
  font-weight: bold;
}
.our-services .card a:hover {
  color: #8bc34a;
}
.about-us {
  width: 100%;
  background: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
}
.about-us img {
  width: 100%;
}
.about-us .card span {
  position: relative;
  font-size: 20px;
}
.about-us .card h1 {
  position: relative;
  font-weight: 700;
  font-family: montserrat, sans-serif;
  font-size: 30px;
  color: #8bc34a;
}
.about-us .card h1 strong {
  color: #8bc34a;
  font-size: 36px;
}
.about-us .card p {
  margin: 1rem 0;
}
.about-us .card a {
  background-color: #8bc34a;
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  min-width: 170px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 2px;
  font-family: montserrat, sans-serif;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.about-us .card a:hover {
  background-color: #7aad40;
}
.news {
  width: 100%;
  background: #f5f6fa;
  padding-top: 80px;
  padding-bottom: 80px;
}
.news .card {
  width: 100%;
  background: #fff;
  border-radius: 5px;
  padding: 1.5rem;
  box-sizing: border-box;
}
.news .card .img {
  position: relative;
  width: 100%;
  height: 220px;
  overflow: hidden;
}
.news .card .img img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.news .card:hover {
  box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.1);
}
.news .card h3 {
  margin: 1rem 0;
}
.news .card p {
  width: 100%;
  font-size: 12px;
  overflow: hidden;
  /*超出部分隐藏*/
  text-overflow: ellipsis;
  /*文字超出部分以省略号显示*/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.news .card a {
  display: inline-block;
  margin: 1rem 0;
  font-size: 14px;
}
.news .card .bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 0.5rem;
  font-size: 13px;
  border-top: solid 1px #e6e6e6;
  box-sizing: border-box;
}
.contact-us {
  position: relative;
  width: 100%;
  background-image: url(/images/bg3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.contact-us .container div {
  z-index: 1;
}
.contact-us .container .img {
  position: relative;
  height: 350px;
  overflow: hidden;
}
.contact-us .container .img img {
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-us .container .text {
  display: flex;
  height: 350px;
  align-items: center;
  text-align: center;
}
.contact-us .container .text h1 {
  font-size: 35px;
  font-weight: bold;
  color: #8bc34a;
}
.contact-us .container .text a {
  color: #4375f1;
}
.contact-us .container .text a:hover {
  color: #3e6ada;
}
.contact-us .section-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 0;
  background: rgba(255, 255, 255, 0.8);
}
.block-5 {
  width: 100%;
  background: #f5f6fa;
  padding-top: 80px;
  padding-bottom: 80px;
}
.block-5 .card {
  width: 100%;
  height: 500px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 18px 33px 6px rgba(0, 0, 0, 0.1);
}
.bg-blue {
  background: linear-gradient(135deg, #008ded 0%, #00e8d3 100%) !important;
}
footer {
  width: 100%;
  text-align: center;
  color: #777;
  font-size: 12px;
  padding: 50px 0;
}
footer .nav div {
  border: solid 1px grey;
}
footer .nav div .card {
  width: 100%;
}
footer .line {
  width: 100%;
  margin: 1rem 0;
  border-top: solid 1px #e6e6e6;
}
footer a {
  text-decoration: none;
  outline: none;
  color: #777;
}
