@import "variables.less";

.slidershow{

    *{
        transition: all 0.3s ease;
        -moz-transition: all 0.3s ease; /* Firefox 4 */
        -webkit-transition: all 0.3s ease; /* Safari 和 Chrome */
        -o-transition: all 0.3s ease; /* Opera */
    }

    position: relative;
    width: 100%;
    overflow: hidden;

    .slides{
        height: 100%;
        display: flex;
        
        li{
            width: 20%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            &:hover{
                transform: scale(1.05);
            }
        }

    }
}

@media all and (max-width:@screen-width-sm){
    .slidershow{
        height: 200px;
    }
}
/*小屏幕 平板(≥768px)*/
@media all and (min-width:@screen-width-sm) and (max-width:@screen-width-md){
    .slidershow{
        height: 400px;
    }
}
/*中等屏幕 桌面显示器(≥992px)*/
@media all and (min-width:@screen-width-md) and (max-width:@screen-width-lg){
    .slidershow{
        height: 500px;
    }
}
/*大屏幕 大桌面显示器(≥1200px)*/ 
@media all and (min-width:@screen-width-lg){
    .slidershow{
        height: 550px;
    }
}

@focus-bg-color: rgba(255, 255, 255, .5);
.navigation{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    li{
        display:inline-block;
        width: 50px;
        height: 10px;
        border: 1px solid @focus-bg-color;
        margin: 5px;
        cursor: pointer;
        // border-radius: 2px;
        
        &:hover{
            background: @focus-bg-color;
        }
    }
}

.bar-focus{
    background: @focus-bg-color;
}

.prev-btn,.next-btn{
    // display: none;
    z-index: 100;
    opacity: 0.1;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 10px;
    margin-top: auto;
    margin-bottom: auto;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: rgba(0, 0, 0, .5);
    font-size: 50px !important;
    cursor: pointer;
    border-radius: 2px;
    background: @focus-bg-color;
    -moz-user-select:none; /* Firefox私有属性 */
    -webkit-user-select:none; /* WebKit内核私有属性 */
    -ms-user-select:none; /* IE私有属性(IE10及以后) */
    -khtml-user-select:none; /* KHTML内核私有属性 */
    -o-user-select:none; /* Opera私有属性 */
    user-select:none; /* CSS3属性 */
}
.prev-btn{
    left: 0;
}
.next-btn{
    right: 0;
}