.slidershow {
  position: relative;
  width: 100%;
  height: 550px;
  overflow: hidden;
}
.slidershow * {
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  /* Firefox 4 */
  -webkit-transition: all 0.3s ease;
  /* Safari 和 Chrome */
  -o-transition: all 0.3s ease;
  /* Opera */
}
.slidershow .slides {
  height: 100%;
  display: flex;
}
.slidershow .slides li {
  width: 20%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.navigation {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.navigation li {
  display: inline-block;
  width: 50px;
  height: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 5px;
  cursor: pointer;
}
.navigation li:hover {
  background: rgba(255, 255, 255, 0.5);
}
.bar-focus {
  background: rgba(255, 255, 255, 0.5);
}
.prev-btn,
.next-btn {
  opacity: 0.1;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 10px;
  margin-top: auto;
  margin-bottom: auto;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 50px !important;
  cursor: pointer;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.5);
  -moz-user-select: none;
  /* Firefox私有属性 */
  -webkit-user-select: none;
  /* WebKit内核私有属性 */
  -ms-user-select: none;
  /* IE私有属性(IE10及以后) */
  -khtml-user-select: none;
  /* KHTML内核私有属性 */
  -o-user-select: none;
  /* Opera私有属性 */
  user-select: none;
  /* CSS3属性 */
}
.prev-btn {
  left: 0;
}
.next-btn {
  right: 0;
}
